assets/workflow_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        448,
        208
      ],
      "id": "46f66f64-be56-4710-bd00-4d340d1e268b",
      "name": "When chat message received",
      "webhookId": "493d6b29-8e37-4a6d-a31b-fadd9fcf1250"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17tq0lktvIxOfVMq6Goe0m64-e5d0my58RpMTvqegEfU",
          "mode": "list",
          "cachedResultName": "pixels images",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17tq0lktvIxOfVMq6Goe0m64-e5d0my58RpMTvqegEfU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17tq0lktvIxOfVMq6Goe0m64-e5d0my58RpMTvqegEfU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        208
      ],
      "id": "0cb2371f-f666-4f9e-b6b6-37c3cfb0151e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tJkBkpP89gAhSAM9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        400
      ],
      "id": "3dd6e8dd-76a4-42ec-b903-80a4909b92d6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "htHLNOBEN9Pjk35gGGimtbTKCzz6LmKmoQW20m3j3wfh1YGMnMyXgeEp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        896,
        400
      ],
      "id": "ce263643-af9c-4bae-b97a-3e34384914e1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that takes data from Pexels.com and put  image in chat box"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        656,
        208
      ],
      "id": "aad1f15c-a5b8-4544-9f5b-638ce309146a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        400
      ],
      "id": "6c16cb2e-86eb-4840-b0a3-17334cbc52b3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "t3do8QkYbHLzBNq1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6eb4f1a-2335-4b18-9d34-c506eb6d2a7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8ab5389912d1c54ad2c190a2d7cf6fa4b348f2691f609833871f71d33b1bf0b"
  },
  "id": "g4mglr4Z0k2AwVXy",
  "tags": []
}